<% include ./partials/navbar %>
<% include ./partials/header %>

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <div class="text-center">
              <h1 class="display-3">Vote<em>Baz</em></h1>
              <p class="lead">every vote counts</p>
              <a href="/poll/new">
                <button class="btn btn-primary btn-lg">Create Poll</button>
              </a>
              <%if(currentUser){%>
                  <a href="/profile">
                    <button class="btn btn-info btn-lg">View Profile</button>
                  </a>
              <%}%>
          </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-inline" action="/polls" method="GET">
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="title" name="title" placeholder="Poll">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

<% include ./partials/footer %>