<% include ./partials/header %>

<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <div class="text-center">
              <h1 class="display-3">Vote<em>Baz</em></h1>
              <p class="lead">by Gerry with <a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a></p>
              <a href="/poll/new">
                <button class="btn btn-primary btn-lg">Create Poll</button>
              </a>
              <%if(currentUser){%>
                  <a href="/profile">
                    <button class="btn btn-info btn-lg">View Profile</button>
                  </a>
              <%}%>
          </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row mb-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-inline" action="/polls" method="GET">
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="title" name="title" placeholder="Poll">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
            <%polls.forEach(function(poll) {%>
                <div class="col-md-6">
                 <div class="card mb-3">
                    <div class="card-header">
                        Vote<em>Baz</em> Poll
                    </div>
                    <div class="card-block">
                        <div class="text-center">
                            <h4 class="card-title"><%=poll.title%></h4>
                            <a href="/poll/show/<%=poll._id%>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
              </div>
            <%})%>
    </div>
</div>

<% include ./partials/footer %>